<!DOCTYPE html>
<html lang="en">
<head>
    <title>Docs</title>
    <link rel="stylesheet" href="../static/css/template.css">
    <link rel="stylesheet" href="../static/css/docs.css">
</head>
<body>
<section class="container">
    <!--endpoint.method | endpoint.path-->
    <code class="endpoint"><b>POST</b> /api/code/new :</code>
    <p class="description">
        <!--endpoint.description-->
        &emsp;&emsp;Post a new code snippet. <br/>
        &emsp;&emsp;Example:
    </p>
    <pre class="example-container">
        Request:
        <code class="language-shell example">
            curl --url https://www.cps.com/api/code/new
                --request POST
                 --header "Content-Type: application/json"
                 --data '{"username":"xyz","password":"xyz"}'
            <!--endpoint.exampleRequest-->
        </code>
        Response:
        <code class="language-json example">
            {
                "id": "Test",
                "date": "Test test"
            }
            <!--endpoint.exampleResponse-->
        </code>
    </pre>
</section>
</body>
</html>